* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.background {
  color: black;
  font-size: 5rem;
  background-color: rgb(199, 199, 199);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: 10rem;
}
#board {
  font-size: 3rem;
  width: 540px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
}
.Number {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid grey;
  border-radius: 20%;
  margin: 0px;
  margin-bottom: 10px;
  background-color: transparent;
}
.Hint__Number {
  animation-duration: 0.5s;
  animation-name: ShowForm;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.Correct__Number {
  animation-duration: 1s;
  animation-name: CorrectAns;
  animation-timing-function: ease-in-out;
}
.Wrong__Number {
  animation-duration: 1s;
  animation-name: WrongAns;
  animation-timing-function: ease-in-out;
}
.Number:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: 0.3s ease;
}
.box {
  font-size: 1rem;
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.589);
  margin: 0px;
  position: relative;
}

.box:hover {
  cursor: pointer;
}
#Selected {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 3rem;
  width: 60px;
  height: 540px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
}
.SelectedNumber {
  background-color: rgba(97, 97, 97, 0.664);
}
#error__box {
  font-size: 40px;
}
.wrap {
  margin-bottom: 40px;
}
/* #menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: red;
} */
@keyframes ShowForm {
  0% {
  }
  100% {
    background-color: rgba(0, 140, 255, 0.411);
  }
}
.Show__Note {
  animation-name: ShowNote;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.Hide__Note {
  animation-name: HideNote;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes HideNote {
  0% {
    font-size: 19px;
    width: 19px;
    height: 19px;
    opacity:0.4;
    visibility: visible;
  }
  100% {
    font-size: 0rem;
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}
@keyframes ShowNote {
  0% {
    font-size: 0rem;
    width: 0px;
    height: 0px;
    opacity: 0.1;
    visibility: hidden;
  }
  100% {
    font-size: 19px;
    width: 19px;
    height: 19px;
    opacity: 0.4;
    visibility: visible;
  }
}
#menu {
  font-size: 50px;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.836);
}
#setting__button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 7.5px;
  cursor: pointer;
}
#setting__board {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.774);
  width: 800px;
  height: 500px;
  display: flex;
  border-radius: 10%;
  flex-direction: column;
  visibility: hidden;
  align-items: center;
  padding-top: 30px;
}
#DarkMode {
  cursor: pointer;
}
#DarkMode__ShowBoard {
  background-color: transparent;
  border-radius: 28px;
  width: 300px;
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
}
#X__DarkMode {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 30px;
}
#select__Mode {
  width: 300px;
  height: 50px;
  border-radius: 40px;
  margin-top: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
}
#select__Mode span {
  font-size: 30px;
  width: 150px;
  height: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#Mode__Slider {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#Dark__Mode {
  width: 150px;
  height: 50px;
}
#Light__Mode {
  width: 150px;
  height: 50px;
}
#note {
  cursor: pointer;
}
#note:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}
.board__button__note {
  position: relative;
  font-size: 0rem;
  color: black;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  visibility: hidden;
}
